@media (max-width:768px){
    .navigation{
        display: none;
    }
    .burger-bar{
        display: block;
    }
    .navigation-wraper{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
        align-items: center;
    }
    .nav-ul li:nth-child(n){
        margin-top: 7px;        
    }
    .navigation.active{
        display: block;
    }
    
}

