/* header style */
.nav-a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color:#707070;
    font-weight: 700;
    
    
}
.navigation-wraper{
    display: flex;
    justify-content: space-between;
}
.nav-ul{
    display: flex;
}
.nav-ul li{
    margin-right: 22px;
}
.header-wraper{
    background-color: #EAEAEA;
    padding: 15px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 50;
    margin-bottom: 100px; 
   

}  
.burger-bar{
    color:#EAEAEA;
    font-size: 30px;
    display: none;
}
.logo{
    font-family: 'Mrs Saint Delafield', cursive;
    font-size: 32px;
    color: #000;
}

/* first section styles */
body{
    margin-top: 200px;
    /* height: 1400px; */
    /* background-color:lightyellow; */
    background-color: #9FA1AA;
    padding:30px;  
    
    
}
.tip-section1{
    margin-top: 20px;
    margin-bottom: 100px;
}
.title-h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #303036;
    background-color: blanchedalmond;
    
}
.tip-section{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;   
      
    
}
.title-p{
    max-width: 560px;
    width: 100%;
    margin-top: 31px;
    line-height: 20px;
    font-size: 15px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: blanchedalmond;
    
    
}
.popular-recipes{
    max-width: 220px;
    width: 100%;
    height: 56px;
    background-color: #707070;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    transition: all 0.5s linear 0.5s;
    margin-bottom: 50px;
    
    
}
.mini-div-h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    

}
  .popular-recipes:hover{
    background-color: #FFBF9D; 
     
}
.tip-image{
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 30px; */
}
.first-section-img{
    
    max-width: 352px;
    width: 100%;

}
.tips-title{
    font-size: 12px;
    color: #595C69;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    font-weight: 900;

}
.tips-headline{
    font-size: 18px;
    color: #595C69;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    margin-top: 10px;
    font-weight: 700;

}
.tips-paragraph{
    max-width: 352px;
    width: 100%;
    color: #595C69;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    text-indent: 8px;
    font-weight: 500;
    line-height: 15px;
    
}
.mini-div-tips{
    display: flex;
    flex-direction: column;
    transition: all 0.5s linear 0.5s;
    display: flex;
    max-width: 352px;
    width: 100%;
    

}
.mini-div-tips:hover {
    background-color: #FFBF9D;

}
/* slick section */
.slider {
    display: flex;
}
.slider .slider_item {
    width: 350px;
    height: 250px;
    margin:30px;
    
    
}
.slider .slider_item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
/* lifestyle styles */
.container-div{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.lifestyle-text{
    max-width: 1145px;
    width: 100%;
    margin: o auto;
    display: flex;
    flex-direction: column;    
    border-radius: 10px;
    /* background-color:blanchedalmond; */
    background-color: #FFBF9D;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title-lifestyle-p{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #595C69;
    
}
.lifestyle-paragraph{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #595C69;
    margin-top: 10px;

}
.headline-lifestyle{
    font-size: 40px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Mrs Saint Delafield', cursive;
    font-weight: 500;
    text-align: center;
    /* color: #595C69; */
    color: black;
    margin-top: 100px;
    margin-bottom: 30px;
   

}
/* recipies section */
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 20px;
    background-image: url(../images/food-background-breakfast-yogurt-granola-muesli-strawberries-banner-image-website-gray-concrete-table-top-view-214357125.jpg);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    
}
.recipise-title{
    max-width: 500px;
    width: 100%;
   font-size: 50px;
   font-family: 'Mrs Saint Delafield', cursive;
   color: #595C69;
   padding: 20px;
   align-items: center;
}

.secend-conteiner-recipes{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 50px;

}
.recipes-title{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #595C69;

}
.recipies-h3{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #595C69;
    margin-top: 10px;

}
.recipe-ul li{
    font-size: 15px;
    color: black;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: underline;
}
/* abaut section styles */
.about-section-container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 50px;

}
.about-paragraph{
    max-width: 672px;
    width: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #595C69;
    font-weight: 500;
    line-height: 15px;
    margin-top: 70px;
    text-indent: 10px;
    /* background-color: blanchedalmond; */
    background-color: #FFBF9D;
    border-radius: 10px;
    padding: 10px;
}
.read-more{
    margin-top: 10px;
    max-width: 220px;
    width: 100%;
    height: 56px;
    background-color: #595C69;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-more-h3{
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}